.side-search-container {
  position: relative;
}

.side-search-box {
  width: 50px;
  height: 40px;
  background-color: #0094de;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
}

.side-input-container {
  width: 95%;
}

.side-search-input {
  width: 0;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.side-search-box.expanded {
  width: 300px;
  background-color: #f5f5f5;
  border: 1.5px solid;
  border-color: #0094de;
}

.side-search-box.expanded .side-search-input {
  width: 100%;
  margin-left: 5px;
}

.side-search-icon {
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.side-search-box.expanded .side-search-icon {
  margin-left: -20px;
  opacity: 0;
}

.side-search-box {
  position: relative;
}

.side-shortcut-box {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 24px;
  font-size: 12px;
  color: #fff;
  background-color: #007bff;
  border-radius: 15px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.2;
}

.btn-submit {
  margin-left: 10px;
}
