.img-center {
  vertical-align: middle;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-sub-container {
  display: flex;
  justify-content: space-between;
}

.side-bar {
  transition: width 0.2s ease-in-out;
  padding: 16px 0px 16px 10px;
  display: inline;
  justify-content: center;
  overflow-y: auto;
  padding: 0;
}

.content {
}
