.img-center {
  vertical-align: middle;
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-sub-container {
  display: flex;
  justify-content: space-between;
}

.side-bar {
  transition: width 0.2s ease-in-out;
}

.content {
  transition: margin-left 0.2s ease-in-out;
}
