.icon-resizer-side {
  width: 45px !important;
}

.rounded-btn-side {
  width: 45px;
  height: 40px;
  background-color: #0094de;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
}

.bell-icon-side {
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.icon-resizer-side {
  transform: translateX(-2px);
}
