.icon-resizer {
  width: 40px !important;
  transform: translateX(23.35%);
}

.rounded-btn {
  width: 40px;
  height: 40px;
  background-color: #0094de;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer; /* Add cursor pointer for clickability */
}

.bell-icon {
  font-size: 20px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.notification-container {
  border-radius: 15px;
  padding: 16px 0px 16px 0px;
}

.notification-title-link:link,
.notification-title-link:visited {
  text-decoration: none;
  color: inherit;
  -webkit-user-drag: none;
  user-drag: none;
}

.notification-title-link:hover,
.notification-title-link:active {
  text-decoration: none;
}
