.logo {
  display: none;
}

.img-center {
  vertical-align: middle;
}

.btn-bell {
  transform: translateY(-2.5px);
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-sub-container {
  display: flex;
  justify-content: space-between;
}
